name: Java CI

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 17
          java-package: jdk
          architecture: x64
      - name: Build with Maven
        run: mvn package --file pom.xml
      - name: Upload Artifact
      - uses: actions/upload-artifact@v3
        with:
          path: target/ExoticGarden_UNOFFICAL
